{% extends 'core/dashboard_base.html' %}
{% load static %}

{% block title %}Create Property{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/create_property.css' %}">
{% endblock %}

{% block content %}
<div class="page-container">

    <h2>Create Property</h2>
    <p class="subtitle">Fill all required details before submitting.</p>

    <form method="POST" enctype="multipart/form-data" class="property-form">
        {% csrf_token %}

        <h4>Basic Details</h4>

        <div class="form-grid">
            <div class="form-group">
                <label>Property Name *</label>
                {{ form.name }}
            </div>

            <div class="form-group">
                <label>Property Image</label>
                {{ form.image }}
                <img id="preview" class="image-preview">
            </div>

            <div class="form-group">
                <label>Rent Type *</label>
                {{ form.rent_type }}
            </div>

            <div class="form-group">
                <label>Property Type *</label>
                {{ form.property_type }}
            </div>

            <div class="form-group">
                <label>Rent Price (Kshs) *</label>
                {{ form.rent_price }}
            </div>

            <div class="form-group">
                <label>Deposit (Kshs) * </label>
                {{ form.deposit }}
            </div>

            <div class="form-group">
                <label>Area (sqm)</label>
                {{ form.area }}
            </div>

       <div class="form-group">
                <label>Agency Commission (%) *</label>
                {{ form.name }}
            </div>

              <div class="form-group">
                <label>Location *</label>
                {{ form.name }}
            </div>

        </div>

        <h4>Description</h4>
        <div class="form-group full-width">
            {{ form.location }}
        </div>

        <button type="submit" class="btn-primary">
            Save Property
        </button>
    </form>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const fileInput = document.querySelector('input[type="file"]');
    const fileNameDisplay = document.getElementById('file-name');

    if (fileInput && fileNameDisplay) {
        fileInput.addEventListener('change', function (e) {
            const file = e.target.files[0];
            if (file) {
                fileNameDisplay.src = URL.createObjectURL(file);
                fileNameDisplay.style.display = 'block';
            }
        });
    }
});
</script>

{% endblock %}
